.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0, 0, 0, .85);
    border-bottom: 2px solid #d4af37;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #d4af37;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}

.nav-links a:hover {
    color: #d4af37;
}